//------------------------------------------------------------------------------
// Presets
//------------------------------------------------------------------------------

$o-website-values-palettes: (
    (
        // Font
        'font':                             'Poppins',
        'headings-font':                    'Poppins',
        'navbar-font':                      'Poppins',
        'buttons-font':                     'Poppins',
    ),
);

//------------------------------------------------------------------------------
// Colors
//------------------------------------------------------------------------------

$o-color-palettes: map-merge($o-color-palettes,
    (
         'base-1': (
           'o-color-1': #026dde,
           'o-color-2': #09417e,
           'o-color-3': #E9967A,
           'o-color-4':#ffffff,
           'o-color-5': #DB7093,

           'o-cc1-text':                       #6b7385,
           'o-cc1-headings':                   #192335,
           'o-cc1-btn-primary':                'o-color-1',
           'o-cc1-btn-secondary':              'o-color-2',
           'o-cc1-link':                       #2f57ef,

        //    'menu': 1,
           'footer' : 1,
           'copyright': 3,
        ),
    )
);

// FIXME solve per font options
$o-theme-font-configs: (
    'Roboto': (
        'family': ('Roboto', sans-serif),
        'url': 'Roboto:300,300i,400,400i,700,700i',
    ),
    'Open Sans': (
        'family': ('Open Sans', sans-serif),
        'url': 'Open+Sans:300,300i,400,400i,700,700i',
    ),
    'Source Sans Pro': (
        'family': ('Source Sans Pro', sans-serif),
        'url': 'Source+Sans+Pro:300,300i,400,400i,700,700i',
    ),
    'Raleway': (
        'family': ('Raleway', sans-serif),
        'url': 'Raleway:300,300i,400,400i,700,700i',
    ),
    'Noto Serif': (
        'family': ('Noto Serif', serif),
        'url': 'Noto+Serif:300,300i,400,400i,700,700i',
    ),
    'Arvo': (
        'family': ('Arvo', Times, serif),
        'url': 'Arvo:300,300i,400,400i,700,700i',
    ),
    'Inter': (
        'family': ('Inter', sans-serif),
        'url': 'Inter:300,300i,400,400i,600,600i,800,800i',
    ),
    'Poppins': (
        'family': ('Poppins', sans-serif),
        'url': 'Poppins:300,300i,400,400i,500,500i,600,600i,700,700i',
    ),
);


$smlg-device: 'only screen and (max-width: 1199px)';
$lgtolp-device: 'only screen and (min-width: 1200px)';
$extra-device: 'only screen and (min-width: 1600px) and (max-width: 1919px)';
$laptop-device: 'only screen and (min-width: 1200px) and (max-width: 1599px)';
$lg-layout: 'only screen and (min-width: 992px) and (max-width: 1199px)';
$md-layout: 'only screen and (min-width: 768px) and (max-width: 991px)';
$sm-layout: 'only screen and (max-width: 767px)';
$large-mobile: 'only screen and (max-width: 575px)';
$small-mobile: 'only screen and (max-width: 479px)';


