
.btn-primary {
    // display: flex;
    // align-items: center;
    // gap: 10px;
    // padding: 16px 20px;
    // font-size: 16px;
    // font-weight: 500;
    // color: white;
    // border: none;
    // border-radius: 10px;
    background-color: $primary;
    transition: background-color 0.5s ease-in-out, transform 0.5s ease-in-out;

    &:hover {
        background-color: $secondary;
        // transform: scale(1.05);
        cursor: pointer;
    }
}






.theme_web_openeducat
{
   
        a:hover{
            color: map-get(map-get($o-color-palettes, 'base-1'), 'o-cc1-link') !important;
            cursor: pointer;
        }


        $base-1: map-get($o-color-palettes, 'base-1');

      
       
        .banner {
            background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);;
        }
        
        .img-main {
            width: 100%;
        }
        

        .head-button,
        .btn-primary {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 17px 20px;
            font-size: 16px;
            font-weight: 500;
            color: #026dde;
            border: none;
            border-radius: 10px;
            background-color:  #fff;;
            transition: background-color 0.6s ease-in-out, transform 0.6s ease-in-out;
        
            &:hover {
          
               
                cursor: pointer;
                color: $secondary;
            }
        }
        
        .head-button .arrow-left {
            display: inline;
            opacity: 0;
            transition: opacity 0.5s ease-in-out;
        }
        
        .head-button .arrow-right {
            display: inline;
            opacity: 1;
            transition: opacity 0.5s ease-in-out;
        }
        
        .head-button:hover .arrow-right {
            opacity: 0;
        }
        
        .head-button:hover .arrow-left {
            opacity: 1;
        }




        // Hover Button
        .hover-button
         {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 16px 20px;
            font-size: 16px;
            font-weight: 500;
            color: white;
            border: none;
            border-radius: 10px;
            background-color: $primary;
            transition: background-color 0.5s ease-in-out, transform 0.5s ease-in-out;
        
            &:hover {
                background-color: $secondary;
                // transform: scale(1.05);
                cursor: pointer;
            }
        }
        
        .hover-button .arrow-left {
            display: inline;
            opacity: 0;
            transition: opacity 0.5s ease-in-out;
        }
        
        .hover-button .arrow-right {
            display: inline;
            opacity: 1;
            transition: opacity 0.5s ease-in-out;
        }
        
        .hover-button:hover .arrow-right {
            opacity: 0;
        }
        
        .hover-button:hover .arrow-left {
            opacity: 1;
        }
        
        
        
        // Section Title
        .section-title .subtitle {
            font-size: 14px;
            line-height: 15px;
            font-weight: 500;
            color: $primary;
            margin-bottom: 15px;
            padding: 10px 20px;
            border-radius: 100px;
            text-transform: uppercase;
            background: #E4E9FD;
        }
        
        // Fixed Overflow Issue in #reb::after
        #reb::after {
            position: relative;
            top: 50%;
            right: -19px;
            left: -19px;
            transform: translateY(-50%);
            height: 45px;
            width: 100%; // Ensures it stays within the container
            background: rgba(255, 255, 255, 0.5);
            box-shadow: 0 0 29px rgba(209, 211, 237, 0.39);
            z-index: -1;
            content: "";
            clip-path: polygon(100% 0, 97% 50%, 100% 100%, 0 100%, 3% 50%, 0 0);
        }
        
        // Responsive Fixes for Scrollbar Issue
        @media (max-width: 1200px) {
            html, body {
                overflow-x: hidden;
            }
            
            .container {
                max-width: 100%;
                padding-left: 15px;
                padding-right: 15px;
                overflow: hidden;
            }
        
            .row {
                margin-left: 0;
                margin-right: 0;
            }
        
            .banner {
                padding-top: 20px;
                margin-bottom: 20px;
            
            }
            
            .img-main {
                max-width: 100%;
                height: auto;
                object-fit: contain;
            }
        }
        
        @media (max-width: 768px) {
            .banner-content {
                text-align: start !important;
            }
        
            .hover-button {
                justify-content: center;
            }
        
            .banner-img {
                display: flex;
                justify-content: center;
            }
        }


        
        




        a{
            color:black;
            text-decoration: none;
        }
        .pop-hover a:hover {
            color: $primary;
            text-decoration:underline;
            cursor: pointer;
        }
        .pop-btn, .btn-primary:hover
        {
            color: $primary;
            cursor: pointer;
            

        }
        .hover:hover {
        
                box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2) !important;
                transform:scale(1.03);
                transition: all 0.3s ease-in-out 0s;
                overflow: hidden;
                border-radius: 10px;
                cursor:pointer;
        }



        
        .blog-hover:hover{
        
            transform:scale(1.03);
            transition: all 0.3s ease-in-out 0s;
            overflow: hidden;
            border-radius: 10px;
            cursor:pointer;
        }

        .blog-btn, .btn-primary:hover
        {
            color: $primary;
            cursor: pointer;
            
        }



        .stats-section {
            background: #f8f9fc;
            padding: 60px 0;
            text-align: center;
            position: relative;
        }
        .stat-box {
            background: white;
            padding: 30px;
            border-radius: 12px;
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
            position: relative;
            overflow: hidden;
        }
        .stat-icon {
            width: 80px;
            height: 80px;
            background: #f1f3fe;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        
        }
        .stat-number {
            font-size: 32px;
            font-weight: bold;
        }
        .stat-text {
            font-size: 16px;
            color: #6c757d;
        }

        .s_bar {
            background-color: #f8f9fa;
        }

        .subtitle {
            font-size: 18px;
            font-weight: 600;
            color: #6c757d;
        }

      
        .s_bar_animation_wrapper {
            overflow: hidden;
            position: relative;
            width: 100%;
        }

     
        .s_bar_animation {
            display: flex;
            animation: scrollRightToLeft 60s linear infinite;
        }
        .s_bar_animation_1{
            display: flex;
            animation: scrollLeftToRight 60s linear infinite;
        }
       
        .s_bar_animation__content {
            display: flex;
            gap: 15px;
        }

       
        .s_bar_animation__content__item {
        
            flex: 0 0 auto;
            width: 500px;
            padding: 45px;
            border-radius: 10px;
            background: white;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

       
        .odd {
            color: white;
            background: linear-gradient(218.15deg, $secondary 0%, $primary 100%);
            font-size: large;
        }

       
        .s_bar_animation__content__item__icon img {
            max-height: 50px;
        }

       
        .s_bar_instructor-info {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }

        .s_bar_instructor-info img {
            width: 30px;
            height: 30px;
        }

       
        @keyframes scrollRightToLeft {
            from {
                transform: translateX(0%);
            }
            to {
                transform: translateX(-100%);
            }
        }
        @keyframes scrollLeftToRight {
            from {
                transform: translateX(-100%);
            }
            to {
                transform: translateX(0%);
            }
        }

       
        @media (max-width: 768px) {
            .s_bar_animation__content {
                flex-wrap: nowrap;
            }

            .S_bar_animation__content__item {
                width: 350px;
                padding: 15px;
            }
            .s_bar_animation {
            
                animation: scrollRightToLeft 10s linear infinite;
            }
            .s_bar_animation_1{
                
                animation: scrollLeftToRight 10s linear infinite;
            }
        }

        @media (max-width: 576px) {


            .s_bar_animation__content {
                width: 350px;
                padding: 15px;
            }

            .s_bar_animation__content__item {
                width: 90%;
            }
            .s_bar_animation {
            
                animation: scrollRightToLeft 20s linear infinite;
            }
            .s_bar_animation_1{
                
                animation: scrollLeftToRight 20s linear infinite;
            }
        }


        // -----------------Subscribe Our Newsletter section--------------
        #subscribe {
            
                background-color: $primary;
                background-image: url(../img/banner/dots.png);
               
        
            .input-group {
                border-radius: 50px;
                overflow: hidden;
                box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
                max-width: 600px;
                width: 100%;
                height: 55px;
            }
    
            .input-group .form-control {
                border-radius: 0px;
                border: none;
                font-size: 16px;
                padding-left: 20px;
                width: 100%;
            }
    
            .subscribe-btn {
                border-radius: 0 50px 50px 0;
                border: none;
                background: linear-gradient(90deg, $primary, $secondary);
                color: white;
                font-size: 16px;
                padding: 12px 24px;
                font-weight: 600;
                transition: 0.3s ease;
            }
    
            .subscribe-btn:hover {
                background: linear-gradient(90deg, $primary, $secondary);
                cursor: pointer;
            }
            
           
    
    
            /* Counter Box Styling */
            .counter-box {
                background: rgba(255, 255, 255, 0.1);
                color: white;
                padding: 20px;
                text-align: center;
                border-radius: 10px;
                width: 100%;
                max-width: 350px;
            }
    
            /* Counter Number Styling */
            .counter-number {
                font-size: 2.5rem;
                font-weight: bold;
                display: inline-block;
            }
    
            /* Pulse Animation */
            @keyframes pulse {
                0% { transform: scale(1); }
                50% { transform: scale(1.1); }
                100% { transform: scale(1); }
            }
    
            .pulse-animation {
                animation: pulse 0.6s ease-in-out infinite;
            }
    
            /* Responsive Adjustments */
            @media (max-width: 1024px) {
                .input-group {
                    max-width: 500px;
                    display: flex;
                }
            }
    
            @media (max-width: 768px) {
                .input-group {
                    max-width: 100%;
                    display: block;
                    justify-items: center;
                    height: auto;
                    border-radius: 0px !important;
                    box-shadow: none !important;
                }
                .input-group .form-control {
                    border-radius: 10px;
                    border: none;
                    font-size: 16px;
                    padding-left: 20px;
                    width: 100%;
                    height: 47px;
                   
                }
                .small-btn{
                    
                    border-radius: 5px;
                    margin-top: 20px;
                    width: 152px;
                    height: 52px;

                }
        
                .subscribe-btn {
                    border-radius: 50px;
                    margin-top: 10px;
                    width: 100%;
                }
    
                .counter-box {
                    max-width: 100%;
                }
    
                .counter-number {
                    font-size: 2rem;
                }
            }

        }
        

        #about{
            

            .about-style-1 {
                position: relative;
            }
            .oe-section-gapTop {
                padding-top: 70px;
            }
            .bg-color-white {
                background: white;
            }
            .about-style-1 .oe-thumbnail-wrapper {
                position: relative;
                display: flex
            ;
                flex-wrap: wrap;
            }
            .about-style-1 .oe-thumbnail-wrapper .oe-thumbnail.image-1 {
                left: -100px;
                position: relative;
            }

            .about-style-1 .oe-thumbnail-wrapper .oe-thumbnail.image-2 {
                position: absolute;
                right: 0;
                top: 0;
            }
            .about-style-1 .oe-thumbnail-wrapper .oe-thumbnail.image-3 {
                position: relative;
                left: 150px;
                top: -179px;
            }
            .bg-coral-opacity {
                background: #E9967A21 !important;
                color:#A1A9AC !important;
            }
            .oe-feature.feature-style-2 {
                padding: 20px;
            }
            .oe-feature {
                display: flex;
                transition: transform 0.85s cubic-bezier(.23, 1, .32, 1), 
                background-color 0.3s, 
                border 0.3s, 
                border-radius 0.3s, 
                box-shadow 0.3s;
            }
            .oe-radius {
                border-radius: 6px !important;
            }
            .oe-feature .icon {
                width: 50px;
                min-width: 50px;
                height: 50px;
                background:#b966e7;
                display: flex
            ;
                border-radius: 100%;
                align-items: center;
                justify-content: center;
                margin-right: 15px;
            }
            .bg-primary-opacity {
                background: #2f57ef21 !important;
                color: #2f57ef !important;
            }
            .bg-pink-opacity {
                background: #DB709321!important;
                color: #DB7093 !important;
            }


            .oe-feature .feature-content .feature-title {
                font-weight: 500;
                font-size: 20px;
                line-height: 32px;
                margin-bottom: 0;
            }
            .oe-feature .feature-content .feature-description {
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                margin-bottom: 0;
                margin-top: 5px;
            }
            .pl--50 {
                padding-left: 50px !important;
            }
            
            .inner-about{
                margin-bottom: 80px;
            }

            /* Responsive Grid */


            @media only screen and (max-width: 767px) {
                .about-style-1 .oe-thumbnail-wrapper .oe-thumbnail.image-1 img {
                    width: 100%;
                    transform: none !important;
                    margin-bottom: 20px;
                    max-height: inherit;
                }
                .pl_sm--0,.pl_md--0
                    {
                        padding-left: 0px !important;
                    }

            }
            @media only screen and (min-width: 768px) and (max-width: 991px) {
                .about-style-1 .oe-thumbnail-wrapper .oe-thumbnail.image-1 img {
                    max-width: 340px;
                }
                .pl_sm--0,.pl_md--0
                    {
                        padding-left: 0px !important;
                    }

            }


            @media (max-width: 1025px) {
                .about-style-1 .oe-thumbnail-wrapper .oe-thumbnail.image-3 {
                    position: relative;
                    left: 84px;
                    top: -179px;
                }
                .about-style-1 .oe-thumbnail-wrapper .oe-thumbnail.image-1 {
                    left: 0px; 
                    position: relative; 
                }
                
            }


        }
        


        .footer {
            background: #f8f9fa;
        
            .container {
            max-width: 1200px;
            margin: auto;
            }
        
            .row {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            }
        
            .col-5,
            .col-2,
            .col-3 {
            @media (max-width: 992px) {
                flex: 0 0 50%;
                max-width: 50%;
            }
        
            @media (max-width: 768px) {
                flex: 0 0 100%;
                max-width: 100%;
                text-align: center;
                
                #ft-btn{
                    display: flex;
                    justify-content: center;
                }
                
            }
        
        
        
            .py-5 {
            padding-top: 2rem !important;
            padding-bottom: 2rem !important;
            }  
            ul {
            padding: 0;
            display: flex;
            justify-content: center;
        
            li {
                list-style: none;
                font-size: 20px;
                cursor: pointer;
                transition: transform 0.3s ease;
        
                &:hover {
                transform: scale(1.1);
                cursor: pointer;
                }
            }
            }
        
            .border-top {
            @media (max-width: 768px) {
                flex-direction: column;
                text-align: center;
            }
            }
        }
        }
        .ft-link:hover {
            color: map-get(map-get($o-color-palettes, 'base-1'), 'o-cc1-link') !important;
            cursor: pointer;
        } 
        
        @media (max-width: 768px) {
            
            #copyright{
                display: block !important;
            } 
        }



        // --------------------------------------

        .oec-counterup {
            background: white;
            box-shadow: 0px 6px 34px rgba(215, 216, 222, 0.41);
            border-radius: 5px;
            text-align: center;
            padding: 30px 30px 50px;
            z-index: 1;
            overflow: hidden;
            position: relative;
        
            @media #{$lg-layout}, #{$md-layout}, #{$sm-layout} {
                padding: 30px 15px;
            }
        
            @media #{$large-mobile} {
                padding: 25px 15px;
            }
        
            .inner {
                .icon, .oec-round-icon {
                    margin: 0 auto 20px;
                    img {
                        max-height: 100px;
                    }
                }
        
                .oec-round-icon {
                    position: relative;
                    background: white;
                    width: 100px;
                    height: 100px;
                    line-height: 100px;
                    padding: 25px;
                    border-radius: 100%;
                    display: flex;
                    align-items: center;
                    box-shadow:  0 13px 14px 0 rgba(129, 104, 145, 0.05);
                }
        
                .content {
                    .counter {
                        font-weight: 700;
                        font-size: 50px;
                        line-height: 56px;
                        margin-bottom: 9px;
                        position: relative;
                        display: inline-block;
                        padding: 0 24px;
                        margin-left: -20px;
        
                        @media #{$sm-layout} {
                            font-size: 40px;
                            line-height: 1;
                        }
        
                        &::after {
                            position: absolute;
                            content: "+";
                            right: 0;
                            font-size: 42px;
                        }
        
                        &.rv-plus::after {
                            content: "";
                        }
        
                        &.witdollar-icon::after {
                            content: "$";
                        }
        
                        &.without-icon {
                            margin-left: 0;
                            &::after {
                                display: none;
                            }
                        }
                    }
        
                    .subtitle {
                        display: block;
                    }
                }
            }
        
            &.style-2 {
                background: transparent;
                box-shadow: none;
                padding: 0;
        
                .inner .content {
                    .counter {
                        font-weight: 700;
                        font-size: 55px;
                        line-height: 55px;
                        @media #{$sm-layout} {
                            font-size: 36px;
                        }
                    }
                    .subtitle {
                        text-transform: uppercase;
                        font-weight: 400;
                        font-size: 16px;
                    }
                }
            }
        
            &.border-bottom-gradient::before {
                background: linear-gradient(90deg, #CFA2E8, #637FEA);
                position: absolute;
                content: "";
                left: 0;
                bottom: 0;
                width: 100%;
                height: 4px;
            }
        }
        
        .head-line {
            position: relative;
            padding-top: 30px;
        
            &::before {
                content: "";
                width: 100%;
                height: 4px;
                left: 0;
                top: 0;
                background-image: radial-gradient(ellipse at center, $primary, rgba(255,255,255,0) 70%);
            }
        
            > .col-lg-3 {
                position: relative;
                &::before {
                    content: "";
                    width: 3px;
                    height: 41px;
                    background-image: linear-gradient(#3498db, rgba(255, 255, 255, 0));
                    left: 50%;
                    bottom: 100%;
                    position: absolute;
                    transform: translateX(-50%);
                }
        
                &::after {
                    position: absolute;
                    content: "";
                    width: 20px;
                    height: 20px;
                    border: 4px solid $primary;
                    border-radius: 100%;
                    left: 50%;
                    bottom: calc(100% + 40px);
                    transform: translateX(-50%);
                    background: #f9f9ff;
                }
            }
        }
        
        .head-line > .col-lg-3.mt_md--30::after{
           
            @media #{$md-layout} {
                bottom: calc(100% + 23px);
            }
            @media #{$sm-layout} {
                bottom: calc(100% + 23px);
            }
        }

        .head-line > .col-lg-3.mt_md--60::after{
           
            @media #{$md-layout} {
                bottom: calc(100% + 40px);
            }
           
        }

        .default-callto-action-overlap {
            padding-top: 276px;
            @media #{$md-layout}, #{$sm-layout} {
                padding-top: 80px;
            }
        }
        
        .oec-section-gapBottom, .oec-section-gap2Bottom, .oec-section-gap3Bottom {
            padding-bottom: 120px;
            @media #{$md-layout}, #{$sm-layout} {
                padding-bottom: 80px;
            }
        }
        
        .oec-section-gapTop, .oec-section-gap2Top, .oec-section-gap3Top {
            padding-top: 120px;
            @media #{$md-layout}, #{$sm-layout} {
                padding-top: 80px;
            }
        }
        
        .oec-section-gapTopHalf {
            padding-top: 60px;
        }
        

        .top-circle-shape {
            position: absolute;
            width: 243px;
            top: -47%;
            height: 243px;
            left: 0;
            right: 0;
            margin: 0 auto;
            background-image: linear-gradient(90deg, #CFA2E8, #637FEA);
            opacity: 0.09;
            border-radius: 100%;
            box-sizing: border-box;
            &::before {
                position: absolute;
                content: "";
                background: #fff;
                border-radius: 100%;
                width: calc(100% - 40px);
                height: calc(100% - 40px);
                left: 20px;
                top: 20px;
            }
    
            &.border-color-secondary {
                &::after {
                    border-color: $secondary
                }
            }
    
            &.border-color-pink {
                &::after {
                    border-color: pink;
                }
            }
    
            &.border-color-coral {
                &::after {
                    border-color: #E9967A;
                }
            }
    
    
        }
    
// --------------------------------

  
    .img-overlay {
        position: relative;
        display: inline-block;
    }
    
    .img-overlay img {
        display: block;
        width: 100%;
        height: auto;
    }
    
    .img-overlay::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 2px solid blue;
        mix-blend-mode: multiply;
    }


}
.o_brand_promotion{
    display: none;
}  