h1, .h1 {
    font-size: 2.1875rem;
}
h2, .h2 {
    font-size: 1.75rem;
}
h3, .h3 {
    font-size: 1.53125rem;
}
h4, .h4 {
    font-size: 1.3125rem;
}
h5, .h5 {
    font-size: 1.09375rem;
}
h6, .h6 {
    font-size: 0.875rem;
}
p {
    font-size: 14px;
}
header .navbar .nav-link{
    font-size: 0.875rem;
}
.text-black {
    color: #333333 !important;
}
body{
    font-size: 0.875rem;
}



/*----------------Navbar-----------------------------*/
.navbar-expand-md .navbar-nav{
text-align: left !important;
}
/*-----------------Mid-Header-----------------------*/
#header{
.footer-social a {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #fff;
    border-radius: 100%;
    text-align: center;
    line-height: 28px;
    font-size: 12px;
    margin-left:6px;
}

.footer-social  a.facebook {
    color: #0054a6;
}
.footer-social  a.facebook:hover {
    background-color: #0054a6;
    color: #fff;
}
 .footer-social  a.youtube {
    color: #c4302b;
}
.footer-social  a.youtube:hover {
    background-color: #c4302b;
    color: #fff;
}
.footer-social  a.twitter {
    color: #38a1f3;
}
.footer-social  a.twitter:hover {
    background-color: #38a1f3;
    color: #fff;
}
.footer-social  a.google-plus {
    color: #cc3333;
}
.footer-social  a.google-plus:hover {
    background-color: #cc3333;
    color: #fff;
}
@media only screen and (max-width: 767px){
       .header-contact {
            text-align:center;
       }
       .footer-social{
            text-align:center;
            padding-top:8px;
       }
       .contact-details{
            display:block;
       }
       }
}

/*--------------------Home Page------------------------------*/

#home-page{
.text_style{
font-size:18px;
}
.btn_style{
    padding: 12px 40px 12px;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: inherit;
    overflow: hidden;
}
.btn_contact{
    background-color: $primary;
    border: 2px solid $primary;
    color: $secondary !important;
}
.btn_about{
    background: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
}
.btn_contact:hover,.btn_contact:focus{
    background: $primary;
    border: 2px solid $primary;
    color: #ffffff !important;
}
.btn_about:hover,.btn_about:focus{
    background: #ffffff none repeat scroll 0 0 !important;
    border: 2px solid #ffffff !important;
    color: $secondary !important;
}
// .background_style{
//    min-height:97vh  !important;
// }
.paragraph{
    top: -105px;
    z-index: 9;
    position: relative;
}
.paragraph_block_1{
    background-color: #307AD5;
}
.paragraph_block_2{
    background-color: #E959AD;
}
.paragraph_block_3{
    background-color: #52C2DA;
}
.paragraph_block_4{
    background-color: #67C55E;
}
.icon_style{
    width:34px;
}
@media only screen and (max-width: 767px){
.image_style
 {
    display: none;
 }
 }
 @media only screen and (max-width: 767px){
.btn_style  {
    padding: 12px 16px 12px;
    font-size: 14px;
    margin-right: 10px;
}
}

@media only screen and (max-width: 767px){
h1 {
    font-size: 28px;
    }
}
@media only screen and (max-width: 767px){
.background_style{
   min-height:82vh  !important;
}

}
@media only screen and (min-width: 768px) and (max-width: 991px) {
.background_style{
   min-height:30vh  !important;
}
}
}

/*------------------------About---------------------------*/

#about{
.text_format{
    font-size:48px;
}
.border-start{
   border-left: 2px solid $primary !important;
}

.default-btn {
     padding: 12px 40px 12px;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: inherit;
    overflow: hidden;
    background-color: transparent;
    color: $secondary;
    border: 2px solid $secondary;
}
.default-btn:hover,.default-btn:focus{
    background-color: $secondary;
    color: #ffffff !important;
    border: 2px solid $secondary;
}

.video-btn {
    position: absolute;
    top: 50%;
    left: 73%;
    transform: translateX(-50%) translateY(-50%);

}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
.video-btn {
    top:30%;
}
}
}

/*--------------------Our Course-----------------------*/


#ourcourse{

.bg-img{
background-size:cover;
background-position:center;
}

.text_format{
    font-size:48px;
}
.border-start{
   border-left: 2px solid $primary !important;
}
.default-btn {
 padding: 12px 40px 12px;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: inherit;
    overflow: hidden;
    background-color: $secondary;
    color: #ffffff;
    border: 2px solid $secondary;
//     margin-top:110px;
}
.heading {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $primary;
    color: #fff;
    font-size: 13px;
    display: inline-block;
    line-height: 1;
    padding: 6px 16px 8px;
}

.hovereffect {
overflow:hidden;
position:relative;
cursor:default;
}

.hovereffect img {
//display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
width:100%;
}

.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

.icon_block{
    padding:0px 7px 20px;
}
.icon_text{
    font-size:12px;
}
.icon_style{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: $secondary;
    line-height: 25px;
    font-size: 12px;
    text-align: center;
    border-radius: 100%;
}
.icon_btn{
    border-radius: 0 50px 50px 0;
    font-size: 14px;
    padding:10px 40px;
    color: $secondary;
}
@media (min-width: 1024px) {
.overlay_course{
    visibility:hidden;
    -webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);


}
.coursedetails:hover{
    .overlay_course{
         visibility:visible;
        -webkit-transform: translate3d(0,0,0);
	    transform: translate3d(0,0,0);
    }
}
}
.blog-content a{
 text-decoration:none;
 color:black;
}
.blog-content a:hover{
 color:$secondary;
}
}

/*-------------------Achievements--------------------*/

#achieve{
.text_format{
    font-size:48px;
}
.border-start{
   border-left: 2px solid $primary !important;
}
.single-count{
    position: relative;
}
.single-count:before {
    right: 7px;
    position: absolute;
    top: 8px;
    background-color: #e1dddd;
    content: "";
    width: 3px;
    height: 50px;
    }
.bg-img{
	background-image:url("/web_openeducat/static/src/img/testi.png");
	position: relative;
}
.default-overlay:before {
    background-color: $secondary;
    opacity: 0.95;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    right: 0;
    bottom: 0;
}
.textlayout{
	position: relative;
}
@media only screen and (max-width: 767px){
.single-count:before {
    right: 7px;
    position: absolute;
    top: 8px;
    background-color: #e1dddd;
    content: "";
    width: 0px;
    height: 50px;
    }
 }

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
 {
    div.single-count:nth-child(2){
    &:before{
        background-color:#fff;
    }
 }
}
 }

/*----------------------------- Best Teacher section css start here ---------------------------------------*/
#teacher{
.text_format{
    font-size:48px;
}
.border-start{
   border-left: 2px solid $primary !important;
}
.single-teacher {
    position: relative;
}
.single-teacher .teacher-content-wrap .teacher-content {
    padding: 42px 33px;
}
.single-teacher .teacher-content-wrap .teacher-content .teacher-social {
    margin: 43px 0 0;
}
.single-teacher .teacher-content-wrap {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
    z-index: 99;
}
.single-teacher:hover .teacher-content-wrap, .single-teacher:hover:before, .single-teacher:hover:after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.single-teacher .teacher-content-wrap .teacher-content h4 {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 6px;
}
.single-teacher .teacher-content-visible h4 {
    color: $secondary;
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 6px;
}

.single-teacher .teacher-content-wrap .teacher-content h5 {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 10px;
}
.single-teacher .teacher-content-wrap .teacher-content p {
    color: #fff;
    line-height: 25px;
    margin: 0;
}
.single-teacher .teacher-content-wrap .teacher-content .teacher-social ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.single-teacher .teacher-content-wrap .teacher-content .teacher-social ul li {
    margin: 0 6px 0 0;
}
.teacher-social ul li a.facebook{
    color:#0054a6;
}
.teacher-social ul li a.youtube-play{
    color:#c4302b;
}
.teacher-social ul li a.twitter{
    color:#38a1f3;
}
.teacher-social ul li a.google-plus{
    color:#cc3333;
}

.single-teacher .teacher-content-wrap .teacher-content .teacher-social ul li a.facebook:hover {
    background-color: #0054a6;
    color: #fff;
}
.single-teacher .teacher-content-wrap .teacher-content .teacher-social ul li a.youtube-play:hover {
    background-color: #c4302b;
    color: #fff;
}
.single-teacher .teacher-content-wrap .teacher-content .teacher-social ul li a.twitter:hover {
    background-color: #38a1f3;
    color: #fff;
}
.single-teacher .teacher-content-wrap .teacher-content .teacher-social ul li a.google-plus:hover {
    background-color: #cc3333;
    color: #fff;
}

.single-teacher .teacher-content-wrap .teacher-content .teacher-social ul li a {
    width: 28px;
    height: 28px;
    border-radius: 100%;
    text-align: center;
    line-height: 28px;
    font-size: 12px;
    background-color: #fff;
    display: inline-block;
}
.single-teacher:hover .teacher-content-visible {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}
.single-teacher .teacher-content-visible {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #fff;
    text-align: right;
    padding: 20px 31px 20px 37px;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
}
.single-teacher:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $primary;
    opacity: .9;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
}
.single-teacher:after {
    border: 1px solid $secondary;
    left: 12px;
    top: 15px;
    right: 12px;
    bottom: 15px;
    position: absolute;
    content: "";
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
}
*, *::after, *::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.custom-col-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    padding-right: 21px;
    padding-left: 21px;
    position: relative;
    width: 100%;
    min-height: 1px;
}
.single-teacher .teacher-img img {
    width: 100%;
}
@media only screen and (max-width: 1365px) and (min-width: 1200px){
.custom-col-5 {
    padding-right: 15px;
    padding-left: 15px;
}
}
@media only screen and (max-width: 1024px) and (min-width: 768px){
.custom-col-5 {
    padding-right: 15px;
    padding-left: 15px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
}
@media only screen and (max-width: 767px){
.custom-col-5 {
    padding-right: 15px;
    padding-left: 15px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
}
/*------------------------------------- Best Teacher section css end here --------------------------------------*/

}
/*------------------Newsfeed------------------*/

#newsfeed{
.text_format{
    font-size:48px;
}
.border-start{
   border-left: 2px solid $primary !important;
}
.hovereffect {
overflow:hidden;
position:relative;
cursor:default;
}

.hovereffect img {
//display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
width:100%;
}

.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

.blog-title{
    position:relative;
    top: -13px;
    left: 20px;
    background-color: $primary;
    color: #fff;
    display: inline-block;
    line-height: 1;
    padding: 6px 10px;
}
.blog-content{
    padding: 7px 20px 2px;
}
.blog-content h6{
    min-height:40px;
}
.blog-content a{
     text-decoration:none;
     color:black;
     font-size: 0.875rem;
}
.blog-content a:hover{
 color:$secondary;
}
.blog-date{
 padding:4px 20px 4px;

    a{
        font-size: 0.875rem;
    }
}
.blog-date a:hover{
    text-decoration:none;
}
}
/*---------------Event-----------------------------*/
#event{
.text_format{
    font-size:48px;
}
.border-start{
   border-left: 2px solid $primary !important;
}
.event-content a{
    text-decoration:none;
    color:$secondary;
}
.event-img {
overflow:hidden;
position:relative;
cursor:default;
}
.event-img img {
//display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}
.event-img:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}
.single-event .event-img .event-date-wrap {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    background-color: $primary;
    padding: 12px 20px 12px;
}
.single-event .event-content {
    padding: 24px 30px 30px;
}
.single-event .event-img .event-date-wrap span {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    display: block;
    line-height: 1;
}
.single-event .event-content .event-meta-wrap .event-meta i {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    color: #fff;
    background-color: $secondary;
    font-size: 12px;
    text-align: center;
    line-height: 25px;
    margin: 0 8px 0 0;
}
.single-event .event-content .event-meta-wrap .event-meta span {
    color: $primary;
    font-size: 0.875rem;
}
.single-event .event-content .event-meta-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
@media only screen and (max-width: 768px){
.single-event .event-content .event-meta-wrap {
    display: block;
    }
}
@media only screen
and (min-device-width: 1024px)
and (max-device-width: 1366px)
and (-webkit-min-device-pixel-ratio: 2){
.single-event .event-content .event-meta-wrap {
    display: block;
    }
}
}

/*------------------Contact----------------*/

#contact{
.default-overlay:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    right: 0;
    bottom: 0;
    background-color: #003502;
    opacity: .89;
}
.border-style{
 border-bottom:3px solid $primary;
 width:45px;
}
.footer-link a{
 text-decoration:none;
 color:white;
}
.footer-gallery ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin:0;
    padding:0;
}
 .footer-gallery ul li {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 70px;
    flex: 0 0 70px;
    margin: 0 10px 10px 0;
}
.footer-gallery ul li a img {
    width: 100%;
}
.formemail{
    height:43px;
    padding:2px 20px;
}
}

/*--------------------Footer-----------------*/

#footer{
li a{
    text-decoration: none;
    color: #ffffff;
}
.educat_address span{
   font-size: 0.875rem;
}
.footer-link a{
     text-decoration:none;
     color:white;
     font-size: 0.875rem;
}
.footer-social ul li {
    margin-left: 6px;
}
.footer-social ul li a {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #fff;
    border-radius: 100%;
    text-align: center;
    line-height: 28px;
    font-size: 12px;
}
.footer-social ul li a.facebook {
    color: #0054a6;
}
.footer-social ul li a.facebook:hover {
    background-color: #0054a6;
    color: #fff;
}
 .footer-social ul li a.youtube {
    color: #c4302b;
}
.footer-social ul li a.youtube:hover {
    background-color: #c4302b;
    color: #fff;
}
.footer-social ul li a.twitter {
    color: #38a1f3;
}
.footer-social ul li a.twitter:hover {
    background-color: #38a1f3;
    color: #fff;
}
.footer-social ul li a.google-plus {
    color: #cc3333;
}
.footer-social ul li a.google-plus:hover {
    background-color: #cc3333;
    color: #fff;
}

}

//Footer Copyrights
#footer-copy-rights{
    .js_language_selector{
        margin-left:32px;

        .btn{
            background-color: $secondary;
            color: #ffffff;
        }
    }
}