
//------------------------------------------------------------------------------
// Presets
//------------------------------------------------------------------------------

$o-website-values-palettes: (
    (
        // Font
        'font':                             'Roboto',
        'headings-font':                    'Roboto',
        'navbar-font':                      'Roboto',
        'buttons-font':                     'Roboto',
//         'header-template':                  '',
    ),
);

//------------------------------------------------------------------------------
// Colors
//------------------------------------------------------------------------------
$o-color-palettes: map-merge($o-color-palettes,
    (
       'base-1': (
       'o-color-1': #fdbb18,
       'o-color-2': #002147,
       'o-color-3': #e8ebf2,
       'o-color-4': #f9f9f9,
       'o-color-5': #666666,

       'o-cc1-text': #666666,
       'o-cc1-headings': #002147,
       'o-cc1-btn-primary': 'o-color-1',
       'o-cc1-btn-secondary': 'o-color-2',
//        'menu': 4,
       'footer' : 3,
       'copyright':5,
        ),
    )
);

// FIXME solve per font options
$o-theme-font-configs: (
    'Roboto': (
        'family': ('Roboto', sans-serif),
        'url': 'Roboto:300,300i,400,400i,700,700i',
    ),
    'Open Sans': (
        'family': ('Open Sans', sans-serif),
        'url': 'Open+Sans:300,300i,400,400i,700,700i',
    ),
    'Source Sans Pro': (
        'family': ('Source Sans Pro', sans-serif),
        'url': 'Source+Sans+Pro:300,300i,400,400i,700,700i',
    ),
    'Raleway': (
        'family': ('Raleway', sans-serif),
        'url': 'Raleway:300,300i,400,400i,700,700i',
    ),
    'Noto Serif': (
        'family': ('Noto Serif', serif),
        'url': 'Noto+Serif:300,300i,400,400i,700,700i',
    ),
    'Arvo': (
        'family': ('Arvo', Times, serif),
        'url': 'Arvo:300,300i,400,400i,700,700i',
    ),
);
