.o_database_list_header img,
.o_database_selector .o_logo,
.o_db_manager .o_logo {
    content: url('/soome_branding/static/src/img/soome_logo.svg');
    width: 280px !important;
}

.o_database_selector::before {
    content: '';
    display: block;
    background: url('/soome_branding/static/src/img/soome_logo.svg') no-repeat center;
    background-size: 280px;
    height: 100px;
    margin-bottom: 20px;
}
