.o_web_client .o_form_view{
    .o_stat_text{
        white-space: inherit !important;
        overflow: inherit !important;
    }
    .oe_button_box .oe_stat_button{
        display: inline-flex !important;
        white-space: inherit !important;
        //border-bottom: 1px solid #dee2e6 !important;
        height: 55px;
        padding: 6px 6px 6px 0 !important;
        border: 1px solid #dee2e6 !important;
        align-items: center;
        margin-bottom: 2px;
        border-right: 0 !important;
    }
}