<odoo>

    <template id="openeducat_demo_footer" inherit_id="website.layout" name="Openedut Demo Footer" active="False">
        <xpath expr="//div[@id='footer']" position="replace">
            <div id="footer" class="oe_structure oe_structure_solo" t-ignore="true" t-if="not no_footer">
            
                <section>
                    <div class="footer">
                        <div class="container py-5">
                            <div class="row py-5">
                                <div class="col-5">
                                    <div class="pt-5">
                                            <img src="/theme_web_openeducat/static/src/img/banner/logo.png" class="img-fluid" style="width: 145px;"/>
                                    </div>
                                    
                                    <p class="py-4">We’re always in search for talented and motivated people. Don’t be shy introduce yourself!</p>
                                    <div class="my-4 text-center" id="ft-btn">
                                                <button class="hover-button" >
                                                    <span class="arrow-left">&#8594;</span>
                                                    Get Ticket
                                                    <span class="arrow-right">&#8594;</span>
                                                </button>
                                    </div>
                                </div>
                                <div class="col-2 py-5">
                                    <h5 class="fw-bolder pb-3">Useful Links</h5>
                                    <div class="d-flex flex-column gap-2">
                                        <a class="ft-link text-muted">Marketplace</a>
                                        <a class="ft-link text-muted">kindergarten</a>
                                        <a class="ft-link text-muted">University</a>
                                        <a class="ft-link text-muted">GYM Coaching</a>
                                        <a class="ft-link text-muted">FAQ</a>
                                    </div>
                                </div>
                                <div class="col-2 py-5">
                                    <h5 class="fw-bolder pb-3">Our Company</h5>
                                    <div class="d-flex flex-column gap-2">
                                        <a class="ft-link text-muted">Contact Us</a>
                                        <a class="ft-link text-muted">Become Teacher</a>
                                        <a class="ft-link text-muted">Blog</a>
                                        <a class="ft-link text-muted">Instructor</a>
                                        
                                    </div>
                                </div>
                                <div class="col-3 py-5">
                                    <h5 class="fw-bolder pb-3">Get Contact</h5>
                                    <div class="d-flex flex-column gap-2">
                                        <a class="ft-link text-muted">Phone: (406) 555-0120</a>
                                        <a class="ft-link text-muted">E-mail: rainbow@example.com</a>
                                        <a class="ft-link text-muted">Location: North America, USA</a>
                                        
                                    </div>
                                    <ul class="d-flex gap-3 list-unstyled py-2 " id="ft-icon">
                                        <li><i class="fa fa-instagram"></i></li>
                                        <li><i class="fa fa-facebook-official"></i></li>
                                        <li><i class="fa fa-linkedin"></i></li>
                                        <li><i class="fa fa-twitter"></i></li>
                                        
                                    </ul>

                                </div>
                            </div>

                            <div class="border-top d-flex justify-content-between pt-5" id="copyright">
                                <div>
                                    <p>Copyright © 2025<a class="ft-link fw-semibold  "> openeducat themes. </a>All Rights Reserved</p>
                                </div>
                                <div>
                                    <div class="d-flex gap-3 ">
                                        <a class="ft-link text-muted">Terms of service</a>
                                        <a class="ft-link text-muted">Privacy policy</a>
                                        <a class="ft-link text-muted">Subscription </a>
                                        <a class="ft-link text-muted">Login &amp; Register</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            
            </div>
        </xpath>
    </template>

    <template id="snippet_options" inherit_id="website.snippet_options">
        <xpath expr="//we-select[@data-variable='footer-template']" position="inside">
            <we-button title="Openedut Demo Footer"
                        data-customize-website-views="theme_web_openeducat.openeducat_demo_footer"
                        data-customize-website-variable="'theme_web_openeducat_footer'"
                        data-img="/website/static/src/img/snippets_options/footer_template_default.svg"/>
        </xpath>
   
    </template>


</odoo>




    



   

